<!DOCTYPE html>
<html>
<head>
<title>Brent's AWS Project - Wood</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="This is a school project for a fictitious Reclaimed Wood Furniture Sales Website.">
 
</head>
<body>
<center>
<h1>Brent's Reclaimed Wood - An AWS Project</h1>
<p>I created this page as an example website for a school project.  These items are not actually available for purchase or order.</p>
<p></p>
<h1>Order Submitted</h1><br>
			<h2>The Following Order has been added to the database</h2><br>
			<h2>{{ name }}</h2><br>
			<title>Add Order Output</title>
				<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

					<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>

				</form>
</body>
</center>
</html>