<!DOCTYPE html>
<html>
<head>
<title>
Brent's AWS Project - Wood</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="This is a school project for a fictitious Reclaimed Wood Furniture Sales Website.">
<style>
body {background-color:#ffffff;background-image:url(https://drive.google.com/file/d/1HZ6X1eYjvqtfsJ_yBlto1Y_bcFFkCa7i/view?usp=sharing);background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Times, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>
<center>
<h1>Brent's Reclaimed Wood - An AWS Project</h1>
<p>I created this page as an example website for a school project.  These items are not actually available for purchase or order.</p>
<p></p>
<p>Reclaimed Wood Furniture:</p>
<p></p>
<p>Standard Chair - $80</p>
<p></p>
<img src="stdchr.jpg" alt="Standard Chair" width="300" height="300">
<p></p>
<p>Bench For Two (Pillows Not Included) - $120</p>
<p></p>
<img src="bench.jpg" alt="Bench For Two" width="300" height="300">
<p></p>
<p>Picnic Table - $200</p>
<p></p>
<img src="pictbl.jpg" alt="Picnic Table" width="300" height="300">
<p></p>
<p>Bar - $250</p>
<p></p>
<img src="bar.jpg" alt="Bar" width="300" height="300">
<p></p>
<p></p>
<p>Order Form:</p>
<p>(Enter number of each item to order in the space provided)</p>
<p></p>
<p></p>
			<form action="/addordr" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getordr" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Order Form</button><br><br>

		  		Customer Name:<br> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="cust_name" autofocus size="40"><br><br>

		  		Standard Chair:<br> <input style="height:25px;font-size:14pt;color:grey;" type="number" name="std_chair" ><br><br>

		  		Bench For Two:<br> <input style="height:25px;font-size:14pt;color:grey;" type="number" name="bnch_4_2"><br><br>

		  		Picnic Table:<br> <input style="height:25px;font-size:14pt;color:grey;" type="number" name="pic_tbl"><br><br>

		  		Bar:<br> <input style="height:25px;font-size:14pt;color:grey;" type="number" name="bar"><br><br>

		  	</form>
</center>
</body>
</html>