<!DOCTYPE html>
<html>
<head>
	<title>Order Information</title>
<style>
body {background-color:#ffffff;background-image:url(https://drive.google.com/file/d/1HZ6X1eYjvqtfsJ_yBlto1Y_bcFFkCa7i/view?usp=sharing);background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Times, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1>Order Information</h1>

		<body>

			<form>

				<div>

			  		Customer Name:<br> {{ cust_name }} <br><br>

			  		Standard Chair:<br> {{ std_chair }} <br><br>

			  		Bench For Two:<br> {{ bnch_4_2 }} <br><br>

			  		Picnic Table:<br> {{ pic_tbl }} <br><br>

			  		Bar:<br> {{ bar }} <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="http://3.129.224.68:80/getemp">RESET</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>
