	<!DOCTYPE html>
<html>
<head>
	<title>Get Order Information</title>
</head>
<center>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="This is a school project for a fictitious Reclaimed Wood Furniture Sales Website.">
<style>
body {background-color:#ffffff;background-image:url(https://drive.google.com/file/d/1HZ6X1eYjvqtfsJ_yBlto1Y_bcFFkCa7i/view?usp=sharing);background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
p {font-family:Times, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
</head>
<body>


			<form action="/fetchdata" autocomplete="on" method="POST">

				<h2>Enter Customer Name</h2>

		  		Customer Name:<br> <input style="height:25px;font-size:14pt;" type="text" name="cust_name" autofocus size="40"><br><br>


		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Get Order Info</button><br><br>

		  	</form>

		</body>
	</font>
</center>
</html>
